<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.tobiasbielefeld.solitaire"
    android:installLocation="auto">

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/my_backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppThemeNoActionBar">
        <activity
            android:name=".ui.about.AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/AppThemeActionBar" />
        <activity
            android:name=".ui.statistics.StatisticsActivity"
            android:label="@string/title_activity_statistics"
            android:theme="@style/AppThemeActionBar" />
        <activity
            android:name=".ui.settings.Settings"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppThemeActionBar" />

        <activity
            android:name=".ui.settings.SettingsGames"
            android:label="@string/settings_games"
            android:theme="@style/AppThemeActionBar" />

        <activity android:name=".ui.GameManager" />
        <activity
            android:name=".ui.manual.Manual"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/game_manual"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".ui.GameSelector"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>